<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>欢迎来到本示例网站 </h1>
  <h2> -- 开发者：陈代序 </h2>
  
  <h2>
    本网站以学习和测试为目的，更多的学习案例可以参考
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    示例教程.
  </h2>
  
  <%= link_to "注册！", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %>
<%#= image_tag("kitten.jpg", alt: "Kitten") %>